@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body.dark {
    background-color: #111827;
    color: #cbd5e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* textarea::-webkit-scrollbar {
    width: 0;
  } */
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #6264f3 !important;
    border-radius: 5px !important;
  }

  .fork-btn-inner {
    line-height: 1.4em !important;
    background-color: #934cce5e !important;
    padding: 0.25rem 1.2rem !important;
    vertical-align: middle !important;
    text-align: center !important;
    display: flex;
    gap: 2px;
    border-radius: 5px;
  }
  .fork-btn-inner:hover {
    transform: translateY(-2px) !important;
    background-color: #a24dd386 !important;
    border-color: #a24dd386 !important;
  }
  .fork-btn-inner::after {
    display: none !important;
  }